<% content_for :breadcrumbs do %>
  <%= link_to "Homeroom", schools_path %>
<% end %>
<div id="content-large">
  <article>
    
    <h2>Current Grades for: <%= current_user.fullname %></h2>
    <div class="theader">
      <span class="cell" style="width: 18%;">Assignment</span>
      <span class="cell" style="width: 27%;">Grade</span>
      <span class="cell" style="width: 27%;">Graded by</span>
    </div>
    <%= render partial: 'grades/partials/grade', collection: @grades %>
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
