<% content_for :breadcrumbs do %>
  <%= link_to "Homeroom", schools_path %>
<% end %>
<div id="content-large">
  <article>
    
    <h2>Current Grades</h2>
    <%= render partial: 'grades/partials/grade', collection: @grades %>
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
