<% content_for :breadcrumbs do %>
  <span class="cell"><%=link_to "Homeroom", schools_path %></span>
<% end %>
<div id="content-large">
  <article>
    <div class="half_pane" >
      <h1>Grading Office</h1>
      <%= render partial: "grades/partials/alink", collection: @pending %>
    </div>
    <div class="half_pane">
      Load recent staff comments here. <br />
      Maybe with a "view all" link as well.
    </div>   
  </article>
</div>

<%= nav_bar(@nav_body_content) %>

