<p class="title smaller" style="margin-left: 10px;">
  <%=link_to m.firstname+" "+m.lastname, profile_path(m.id), {remote: true} %> 
  <%=link_to "remove", remove_member_team_path(@team.id, user_id: m.id), {method: "delete", remote: true, class: "smaller"} %>
</p>