<p class="title smaller" style="margin-left: 10px;">
  <%=link_to u.fullname, teams_show_user_path(u.id), {remote: true} %> 
  <%=link_to "Add", add_member_team_path(@team.id, user_id: u.id), {method: "post", remote: true, class: "smaller"} %>
</p>