<p class="title smaller" style="margin-left: 10px;">
  <%=link_to user.fullname_lnf, teams_show_user_path(user.id), {remote: true} %> 
  <%=link_to "Add", add_member_team_path(@team.id, user_id: user.id), {method: "post", remote: true, class: "smaller"} %>
</p>