<div class="reply_container">
   <p class="title smaller"><%= get_full_name(message.sender_id) if message.sender_id %> has replied</p>
   <p><%=sanitize(format_plaintext(message.body))%></p>       
</div>