<% if @messages %> 
  <p class="title">Message Center</p>
  <div id="message_editor">
    <%= render "create" %>
  </div>

  <% for m in @messages %>
    <%=render "new_message", {message: m } %>
  <% end %>
<% end %>