<div class="reply_container">
  <p class="title smallest"><%= distance_of_time_in_words_to_now(reply.updated_at, include_seconds: false) %> ago </p>
  <p class="title smaller"><%= get_full_name(reply.sender_id) if reply.sender_id %> has replied</p>
  <p><%= formatter(reply.body) %></p>       
</div>