<% if current_user.note %>
  <% unless current_user.note.reminder.empty? %>
    <div class="reminder">
      <%=sanitize(format_plaintext(current_user.note.reminder)) %>
    </div>
  <% end %>
<% end %>
