<div>
  <p class="title small">Current Schools</p>
</div>
<% unless @participants.empty? %>
  <% for p in @participants %>
    <p><%= link_to p.school.name,school_path(p.school.id) %></p>
  <% end %>
<% end %>