<!-- This is a student record for the grading Office -->

<div class="trow">
  <span class="cell" style="width:45%;">
    <%=link_to student.fullname, teams_show_user_path(student), { remote: true } %>
  </span>
  <span class="cell" style="width:18%;">
    <%= letter_grade(student.grade_average) %>
  </span>
  <span class="cell" style="width:15%;">
    <%=link_to "View", user_grades_path(student),{remote: true} %>
  </span>
</div>
