<div id="content-large">
  <div id="my_teams" class="floatbox_trans">
    <p class="title">
      Teams I own
    </p>
    <% for tio in @teams_i_own %>
      <p><%= tio.name %></p>
    <% end %>
    <p class="title">
      Teams I belong to
    </p>
    <% for mt in @my_teams %>
      <p><%= mt.name %></p>
    <% end %>
  </div>
</div>
<div id='nav-right'>
  <%= nav_heading(full_name) %>
  
</div>
