<div class="trow">
  <span class="cell" style="width: 25%;"><%= book.name %></span>
  <span class="cell" style="width: 20%;"><%= book.short_name %></span>
  <span class="cell" style="width: 20%;"><%= book.verse_count %></span>
  <span class="cell" style="width: 20%;"><%= book.position %></span>
</div>
