<% content_for :breadcrumbs do %>
  <%=link_to "Admin Tools", admin_tools_path %>
<% end %>

<div id="content-large">
  <article>
    <p class="title larger bolder">Available Books</p>
    <div class="theader">
      <span class="cell" style="width: 15%;">Name</span>
      <span class="cell" style="width: 20%;">Short Name</span>
      <span class="cell" style="width: 20%;">Verse Count</span>
      <span class="cell" style="width: 20%;">Position</span>
    </div>
    
    <%= render @books %>
    
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
