<h2>{:> Getting Started</h2>
<% if @school %>
  <div class="title largest">
    <%= @school.name %>
  </div>
<% end %>
<div class="title large float_left">
  <dl>
    <dt>Featured Stories...</dt>
    <% @features.each do |f| %>
      <dd><%=link_to f.topic, home_path(f.id)%></dd>
    <% end %>
  </dl>

  <dl>
    <dt>More Stories...</dt>
    <% @stories.each do |s| %>
      <dd><%= link_to s.topic, home_path(s.id) %></dd>
    <%end%>
  </dl>
</div>
