<section>

    <%= get_chart_image(current_user,task,"horizontal") %>

</section>

<% @verticals.each do |v| %>
  <section>
    <figure>
      <%= get_chart_image(current_user,task,v,"vertical")%>
    </figure>
  </section>
<% end %>
