<% if @messages %> 

  <p class="title large">Team Message Center</p>
  
  <div id="message_editor">
    New Message <%= render "create" %>
  </div>

  <% for m in @messages %>
    <%=render @message_partial, {message: m } %>
  <% end %>
  
  
  <% if @linklabel %>
    <div class="more">
      <span> <%=@current_count if @current_count > 0 %> </span>
      <%=link_to @linklabel, get_read_messages_path({ page: @page||0 }),{remote: true} %>
    </div>
  <% end %>
  
  
<% end %>