<span class="cell" style="width:60%;">
  <% unless d.duedate.nil? %>
    <%= Time.zone.parse(d.duedate.to_s).to_formatted_s(:long_ordinal) %>
  <% else %>
    Please set a due date.
  <% end %>
</span>
<span class="cell" style="width:10%;">
  <%=link_to "Edit", edit_admin_duedate_path(d),{remote: true} %>
</span>