<div class="trow">
  <span class="cell" style="width:35%;"><%= get_task_link(@school,@assignment,task) %></span>
  <span class="cell" style="width:30%;"><%= get_task_type_name(task.task_type) %></span> 
</div>
