<div id="content-large">
  <article>
    <h3>Editing a Help Record</h3>
    <%=link_to "Help Home", admin_helps_path %>
    
    <%= render "form" %>
    
  </article>  
</div>  

<%= nav_bar(@nav_body_content) %>
