<% content_for :breadcrumbs do %>
  <%=link_to "Help Home", admin_helps_path %>
<% end %>

<div id="content-large">
  <article>
    <h3>Create a New Help Record</h3>
    
    <%= render "form" %>
    
  </article>  
</div>  

<%= nav_bar(@nav_body_content) %>
