<div class="trow">
  <span class="cell" style="width:30%;"><%= version.name %></span>
  <span class="cell" style="width:5%;"><%=link_to "edit", edit_admin_version_path(version) %></span>
  <span class="cell" style="width:5%;"><%=link_to "delete", admin_version_path(version), {method: :delete, confirm: "Are you sure? This can not be done if there are dependent paragraphs."} %></span>
</div>
