<div id="preview">

  <%=link_to "close", cancel_path, {remote: true, id: "cancel"} %>
  <br />
  <div>
    <h4><%= s.name %></h4>
  </div>
  <div>
    <%= smart_format(s.content_type, s.content) %>
  </div>
  
</div>
