<div id="content-large">
  <article>
    <h1>This is a collection of School Scoresheets</h1>
    <p>This will be a list of them and a toolbar for adding and editing.</p>
  </article>
</div>
<%= nav_bar(@nav_body_content) %>
