<% content_for :breadcrumbs do %>
  <%=link_to "Scoresheet Admin", admin_school_scoresheets_path(@school.id) %>
<% end %>
<div id="content-large">
  <article>
    
    <h1>Create a Scoresheet</h1>
    <%=render "admin/scoresheets/form" %>
  </article>
</div>

<%= nav_bar(@nav_body_content)%>

<%= smart_edit(@scoresheet.content_type, admin_school_scoresheet_path(@school,@scoresheet)) %>
