<h1>Registration</h1>

<%= form_for( [@school,@participant],{remote: true} ) do |f| %>
  <div class="smaller">
    <p>Check the boxes below to confirm you are eligible.</p>
  </div>
  <div class="smaller">
    Pre-requisites? 
    <%= f.check_box :prereq %>
  </div>
  <div class="smaller">
    Check to register: <%= f.check_box :accepted %>
  </div>
  <div class="actions">
    <%= f.submit "Register now" %>
  </div>
<% end %>

