<div class="floatbox_trans"
  <h2>
    Formatting Help
  </h2>

  <pre class="smallest">
    # Makes this line a heading (H1)
    ## a smaller heading        (H2)
    ### still smaller           (H3)
    #### smaller                (H4)
    ##### smaller yet           (H5)
    ###### smallest of all      (H6)
    >Makes the text a blockquote
    >>A blockquote inside a blockquote
    _Makes this line italic_
    **Makes this bold**
    * makes this line begin with a bullet
        * 4 spaces indents a bullet
            * 4 more indents again.
    1. a numbered list
        1. 4 spaces creates the next level.
            1. 4 more indents to the next.
    Numbers and bullets can be mixed:
    1. Some big important point.
        * a bulleted sub-point.
        * another bulleted sub-point.
            
  </pre>
</div>
