<p class="title">
  Formatting Help
</p>
<p class="smaller italic">
  To add formatting to the text try the following:<br />
  Add the following symbols to the front a line you wish to format.<br />
  Your formatting continues until it finds a newline (enter)
</p>
<pre class="smallest">
  ^^Makes this line a heading
  >>Adds a signature line
  //Makes this line italic
  ""Makes this line a blockquote
  *makes this line begin with a bullet
  2 spaces at the beginning indents
  4 spaces at the beginning double indents
</pre>
