<div id="content-large">
  <article>
    <div class="article_content">
      <h1><%= @current_article.topic if @current_article %></h1>
      <div><%= formatter(@current_article.article) if @current_article %></div>
    </div>
  </article>
</div>

<%= nav_bar("blogs/stories") %>
