<article>
  <div class="article_content">
    <h1><%= @current_article.topic %></h1>
    <div><%=relaxed_sanitize @current_article.article%></div>
  </div>
</article>

<%= nav_bar("blogs/stories") %>
