<div id="blog-article">
  <% for story in @stories %>
    <% if current_user %>
      <% if session[:admin_level] and session[:admin_level] > 0 %>
        <%= link_to "edit article", "/editor"+ blog_path(story.id)%>
      <%end%>
    <%end%>
    <h2><%= story.topic%></h2>
    <em><%= story.updated_at %></em>
    <div><%= sanitize story.article %></div>
    <hr style="width:95%;" />
  <%end%>
</div>
<div id="right-nav">
  Words<br />
  More Words<br />
  Another<br />
  Yet another<br />
  <P>
    And again
  </P>
</div>



