<div class="reminder">
  <h3>Chart Tools</h3>
  
  <div id ="chartids">
    <%= render partial: "chartid", collection: @segments %>
  </div>
  
  <div id="controls" style="float: left;">
    <span style="float:right">
      Select Chart -->
    </span>
    <div style="float:left;">
      <p class="title large">Chart Selector</p>
      <% if @prev_seg %>
        <span><%=link_to "Previous Chart", task_vertical_path(@task,@prev_seg),{remote: true}  %></span>
      <% else %>
        <span class="italic red">No Previous</span>
      <% end %>
      <span> --- </span>
      <% if @next_seg %>
        <span><%=link_to "Next Chart", task_vertical_path(@task,@next_seg),{remote: true}%></span>
      <% else %>
        <span class="italic red">No Next</span>
      <% end %>
    </div> 
  </div>
</div>
