<h3>Chart Tools</h3>

<div id ="chartids">
  <%= render partial: "chartid", collection: @segments %>
</div>

<div id="controls" style="float: left;">
  <p class="right">
    Select Vertical Chart -->
  </p>
  
</div>
