<div>
  <header>    
    <h2><%= @task.assignment.name %></h2>
    <p style="text-align: right;"><%= current_user.fullname %></p>
  </header>


    <% @verticals.each do |v| %>
      <section class="page_before float_left">
        <div >
          <h3><%= v.segnum.to_s+": "+v.title %></h3>
        </div>
        <hr />
        <div >
          <%= smart_format(v.charttext.content_type,v.charttext.content) %>
        </div>
        <hr />
      </section>
    <% end %>

</div>
