<% content_for :breadcrumbs do %>
  <%=link_to "Homeroom", schools_path %>
<% end %>

<div id="content-large">
  <article>
    <h2>Public School Application</h2>
    <p><%=link_to "Cancel", schools_path, {class: "larger"} %></p>
    <p>
      Describe the school you wish to start below. 
      Your application will be reviewed and you will be contacted shortly.
    </p>
    <h4>
      I have been able thus far to make this a free service to everyone, particularly those schools working
      in difficult places. If your school has the revenue to help support this work,
      consider contributing financially. How much? I would suggest one or two dollars per month per student 
      as a place to start.  
    </h4>
    <h6>
      However, if your school can not afford this please
      enjoy this service for free as always.
    </h6>
    <p>
      If you have any questions feel free to contact me <a href="http://stonercreek.net/contact">here.</a>
    </p>
    <p>
      If you would like to contribute use the contact link above and I will get back to you about payment methods.
    </p>
    <hr />
    <%= render "form" %>
  </article>
</div>  

<%= nav_bar(@nav_body_content) %>
