<% content_for :breadcrumbs do %>
  <%=link_to "Homeroom", schools_path %>
<% end %>

<div id="content-large">
  <article>
    <h2>Public School Application</h2>
    <p><%=link_to "Cancel", schools_path, {class: "larger"} %></p>
    <em>
      Describe the school you wish to start below. 
      Your application will be reviewed and you will be contacted shortly.
    </em>
    <hr />
    <%= render "form" %>
  </article>
</div>  

<%= nav_bar(@nav_body_content) %>
