<div id="content-large">  
  <article>
    <h1><%= "#{@task.assignment.name} - #{@task.name}" %></h1>
    <%=link_to "<#{@task.assignment.name} task list", school_assignment_path(@task.assignment.school_id, @task.assignment_id) %>
    
    <%= render 'form' %>

  </article>
</div>

<%= nav_bar(@nav_body_content)%>
