<div>
  <div class="noprint">
    <%= link_to "close", :back %>
  </div>
  <%= smart_format(@document.content_type, @document.content) %>
  <h4>
    Footnotes: 
  </h4>

  <%= smart_format(@document.endnote.content_type, @document.endnote.content) if @document.endnote.content %>
  

</div>
