<% content_for :breadcrumbs do %>
  <%=link_to "Assignment Home", admin_assignments_path %>
<% end %>
<div id="content-large">
  <article>
    
    <h2>
      New Assignment
    </h2>
    <%= render "admin/assignments/form"%>
  </article>
</div>
<%= nav_bar(@nav_body_content)%>
