<% content_for :breadcrumbs do %>
  <%=link_to "Admin Tools", admin_tools_index_path %>
<% end %>
<div id="content-large">
  <article>
    
    <h1>Editing <%= @school.name %></h1>
    <%= render "form" %>
  </article>
</div>
<%= nav_bar(@nav_body_content)%>
