<div>
  <h3>Reviewer Tools</h3>
  <h4>Papers for review</h4>
  <% @reviewable.each do |r| %>
    <%=link_to "#{r.title} - #{r.author}", paper_reviews_path(r) %><br />
  <% end %>
  <p>&nbsp;</p>
</div>
