<div>
  <p class="title large bolder">Papers waiting review</p>
  <% if @reviewable %>
    <% @reviewable.each do |r| %>
      <%=link_to "#{r.title} - #{r.author}", paper_reviews_path(r) %><br />
    <% end %>
  <% end %>
  <p>&nbsp;</p>
</div>
