<% content_for :breadcrumbs do %>
  <%=link_to "Journal Home", journal_path %>
  <%=link_to "Writers Desk", writers_desk_path %>
<% end %>

<div id="content-large">
  <article>
    <%= render 'form' %>
  </article>
</div>

<%= nav_bar(@nav_body_content) %>

