<% content_for :breadcrumbs do %>
  <%=link_to "Homeroom", schools_path %>
  <%=link_to "Writers Desk", writers_desk_path %>
<% end %>


<div id="content-large">
  <article>
    <h2>Journal</h2>
    <p>List of articles, papers, and whatever.</p>
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
