<% content_for :breadcrumbs do %>
  <%=link_to "Journal", papers_path %>
<% end %>

<div id="content-large">
  <article>
    <%= render "papers/reader" %>
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
