<%=link_to "<-back to templates list", admin_school_templats_path(@school) %>

<h1>Edit a Template for <%= @school.name %></h1>
<h3>Name: <%= @templat.name %></h3>

<%= render "admin/templats/form"%>

