<% content_for :breadcrumbs do %>
  <%=link_to "Homeroom", schools_path %>
  <%=link_to "Admin Tools", admin_tools_path %>
<% end %>

<div id="content-large">
  <article>
    <h2>Reports</h2>
    <p>Report stuff here.</p>
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
