<div id="breadcrumbs">
  <%=link_to "Homeroom", schools_path %>
</div>
<div id="content-large">
  <article>
    <h2 >Select Students to Grade</h2>
    
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
