<!--This is the assignment toolbar on the homeroom page -->
<div class="float_left">
  <p class="title largest bolder">Grades</p>
    <p class="cell title large">
      View your current Grades <%=link_to(image_tag("gray/addressbook.png", size: "16x16"),school_grades_path(@school),{title: "View your Grades"})%>     
    </p>

  <p class="title largest bolder">Assignments</p>
    <% unless current_user.staff? %>
      <p>
        <%=link_to "Show All", school_show_all_assignments_path(@school) %>
      </p>
    <% end %>
    <% if @assignments %>
      <%= render @assignments unless current_user.staff? %>
      <%= render 'team_assignments' if current_user.staff? %>
    <% end %>
</div>
