<div id="pending" class="float_left">
  <p class="title">
    Pending Registrations
  </p>
  <% if @registrations %>
    <% @registrations.each do |p| %>
        <p id="reg_<%= p.id %>">
          <%=link_to get_full_name(p.user_id), edit_school_participant_path(@school.id,p.id),{remote: true, class: :smallest} %>
        </p>
    <% end %>
  <% end %>
  <p class="title">
    New Orders
  </p>
  <p class="title larger">
  <% if @pending_orders %>
    <% @pending_orders.each do |o| %>
        <%=link_to get_full_name(o.user_id), order_path(o) %>
    <% end %>
  <% end %>
  </p>
</div>