<% if @participants %>
  <div id="current_school" class="float_left title">
    <span id="schoolname"><%= session[:school_name] if session[:school_name] %></span>
  </div>
  <div class="float_left">
    <p class="title small">Currently available Schools</p>
  </div>
  <% for p in @participants %>
    <div class="float_left title smaller">
      <%= link_to( p.school.name, profile_setschool_path(current_user.id, school_id: p.school.id)) %>
      &nbsp;--&nbsp;
      <span class="smaller"><%=link_to( "edit", edit_school_path(p.school.id), remote: true) %></span>
    </div>
  <% end %>
<% end %>