<!--This is the staff toolbar on the homeroom page -->
<div class="float_left">
  <p class="title largest bolder">Staff Tools</p>
  <p><%= link_to "Collect Assignments", school_collect_path(current_user.school) %></p>
  <p><%=link_to "Grading Office", school_grading_office_path(current_user.school) %></p>
  <p><%= link_to "Reports", admin_reports_path %></p>
</div>
