<div id="content-large">
  <article>
    <h1>Welcome To Studyworx!</h1>
    <p>Choose a school from the list in the Nav Bar on the side of the page.</p>
    <p>If this is a first login, click on the school with your name on the Nav Bar where it says "set as default school"</p>
    <p>If you have not registered for a school yet - click on one of the available schools for more information.</p>
    <p>If you have any question check out our frequently asked questions.</p>
  </article>
</div>
<%= nav_bar(@nav_body_content)%>
