<div class="floatbox_trans">
<h1>Welcome To Studyworx!</h1>
<p>Choose a school from the list at the right.</p>
<p>If you have not registered for a school yet - click on one of the available schools for more information.</p>
<p>If you have any question check out our frequently asked questions.</p>
</div>
<%= nav_bar(@nav_body_content)%>
