body {
	margin:0px;
	font-family: Verdana,helvetica,arial,sans-serif;
}
p {
	margin-top: 4px;
	margin-bottom: 1px;
	font-family: sans-serif;
}
p:empty {
	display:none;
}

#header {
	background-color:#FFFFDD;
	margin-bottom: 0px;
}

#logo {
	font-size: 12pt;
	font-weight:bolder;
	color:#333333;
	background-color: #DADADA;
	margin-left: 4px;
	padding-left: 4px;
	padding-right: 4px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: hand;
}
#logo p {
	font-weight: normal;
}
#logo:hover {
	cursor: crosshair;
}

#content {
	position:relative;
	top: 20px;
	width: 800px;
	border:2px #333333 solid;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}

#alert {
	position: absolute;
	font-size: 10pt;
	text-align:center;
	top: 0px;
	left: 150px;
	width: 250px;
	background-color:#FFFFDD;
	border-radius: 5px;
}

#notice {
	position: absolute;
	font-size: 10pt;
	text-align:center;
	top: 0px;
	left: 150px;
	width: 250px;
	background-color:#FFFFDD;
	border-radius: 5px;
}

#profile {
	position:absolute;
	right: 4px;
	top: 0px;
	width: 200px;
	padding-left: 4px;
	background-color: #DADADA;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#profile:hover {
	cursor:crosshair;
}

