body {
	margin:0px;
	font-family: verdana,helvetica,arial,sans-serif;
}
p {
	margin-top: 4px;
	margin-bottom: 1px;
	font-family: sans-serif;
}
a {
  color: #777777;
  text-decoration: none;
  font-size: 10pt;
}
a:hover {
  color:black;
}
p:empty {
	display:none;
}

#header {
	background-color:#FFFFDD;
	margin-bottom: 0px;
}

#logo {
	font-size: 12pt;
	font-weight:bolder;
	color:#999999;
	background-color: white;
	margin-left: 4px;
	padding-left: 4px;
	padding-right: 4px;
	position: absolute;
	top: 0px;
	left: 12px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: hand;
}
#logo a {
  color: #999999;
  text-decoration: none;
}
#logo a:hover {
  color:black;
}
#logo p {
	font-weight: normal;
}
#logo:hover {
	cursor: crosshair;
}
#profile {
  position:absolute;
  right: 12px;
  top: 0px;
  width: 200px;
  padding-left: 4px;
  color: #999999;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#profile a {
  color: #999999;
  text-decoration: none;
}
#profile a:hover {
  color:black;
}
#profile:hover {
  cursor:crosshair;
}

#content {
	position:relative;
	top: 20px;
	width: 98%;
	border:2px #eeeeee solid;
	border-radius: 10px;
	margin: 5px;
	padding: 5px;
}

#content-large {
  position:relative;left:0px;width:75%;
  border-right:2px solid #cdcdcd;border-radius:10px;
  padding:10px;
  background-color: #ededed;
}

#nav-right {
  position:absolute;top:6px;right:4px;width:20%;
  border-left:2px solid #cdcdcd;border-right:2px solid #dedede;border-radius:10px;
  padding:10px;
  background-color: #ededed;
  font-size: 10pt;
}

#alert {
	position: absolute;
	font-size: 10pt;
	text-align:center;
	top: 0px;
	left: 170px;
	width: 250px;
	background-color:green;
	border-radius: 5px;
}

#notice {
	position: absolute;
	font-size: 10pt;
	text-align:center;
	top: 0px;
	left: 170px;
	width: 250px;
	background-color:green;
	border-radius: 5px;
}

.even {
  background-color: #eeeeee;
}
.odd {
  background-color: #afafaf;
}
