body {
	margin:0px;
	background-size: 100%;
	font-family: Verdana,Helvetica,Arial,Sans-serif;
	font-size: 10pt;
}
p {
	margin-top: 4px;
	margin-bottom: 1px;
	font-family: sans-serif;
}
a {
  color: #777777;
  text-decoration: none;
  font-size: 10pt;
}
a:hover {
  color:#0F440B;
}
p:empty {
	display:none;
}

h1{
  text-align: left;
}
h2 {
  text-align: left;
}
h3 {
  text-align: left;
}

#header {
	background-color:#FFFFDD;
	margin-bottom: 0px;
}

#logo {
	font-size: 12pt;
	font-weight:bolder;
	color:#999999;
	background-color: white;
	margin-left: 4px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 4px;
	position: absolute;
	top: 0px;
	left: 12px;
	border-left:1px solid #999999;
  border-bottom:2px solid #bbbbbb;
  border-right: 3px solid #ededed;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}
#logo a {
  color: #999999;
  text-decoration: none;
  font-size: 14px;
}
#logo a:hover {
  color:black;
}
#logo p {
	font-weight: normal;
}
#logo:hover {
	cursor: pointer;
}

#alert {
  position: absolute;
  font-size: 10pt;
  text-align:center;
  top: 0px;
  left: 220px;
  width: 250px;
  background-color:green;
  border-radius: 5px;
}

#notice {
  position: absolute;
  font-size: 10pt;
  text-align:center;
  top: 0px;
  left: 220px;
  width: 250px;
  background-color:green;
  border-radius: 5px;
}

#nav-right {
  float:right;width:30%;
  border-left:2px solid #cdcdcd;border-right:2px solid #dedede;border-radius:10px;
  padding:10px;
  margin-top: 10px;
  background-color: rgba(255,255,255,.75);
  font-size: 10pt;
}

#nav_heading {
  float:right;
  width:100%;
}
#nav_heading_content {
  float:left;
  width:65%
}
#scratchpad_heading {
  float:left;
  width:65%;
}
#profile {
  position:absolute;
  right: 12px;
  top: 0px;
  width: 200px;
  padding-left: 12px;
  padding-right: 4px;
  padding-bottom: 4px;
  color: #999999;
  border-left:3px solid #ededed;
  border-bottom:2px solid #bbbbbb;
  border-right: 1px solid #999999;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#profile a {
  color: #999999;
  text-decoration: none;
}
#profile a:hover {
  color:black;
}
#profile:hover {
  cursor:pointer;
}

#reminder textarea{
  width: 92%;
  font-family: Garamond, Georgia;
  font-size: 10pt;
}

#content {
  position: relative;
  float:left;
  top: 20px;
  width: 98%;
  margin: 5px;
  padding: 5px;
}

#content-large {
  position:relative;left:0px;width:62%;
  float:left;
  padding:10px;
}


.even {
  background-color: #aaaaaa;
}
.odd {
  background-color: #555555;
}

.article {
  background-color: rgba(255,255,255,.8);
  text-align: justify;
  border-radius: 8px;
  padding: 8px;
  columns: auto 2;
  -moz-columns: auto 2;
  -webkit-columns: auto 2;
}
.box_trans {
  background-color: rgba(0,0,0,.8);
  border-radius: 8px;
  padding:10px;
  margin: 10px;
  color: white;
}
.floatbox_trans {
  float: left;
  background-color: rgba(0,0,0,.8);
  border-radius: 8px;
  padding:10px;
  margin: 10px;
  color: white;
}

.avatar {
  position: relative;
  float:left;
  background-color: black;
  background-clip: border-box;
  background-position: center;
  background-repeat: no-repeat;
  width:50px;
  height:50px;
  border: 2px solid #bbbbbb;
  border-radius: 8px;
  padding:2px;
  margin-right: 10px;
  margin-bottom: 6px;
  cursor:pointer;
}

.reminder {
  width:95%;
  float:left;
  font-style: italic;
  font-family: Garamond, Georgia;
  background-color: rgba(200,170,107,.3);
  border: 1px solid gray;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 10px;
  padding:3%;
}

.msg_container {
  float:left;
  width: 97%;
  padding: 2%;
  border: 1px solid gray;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 6px;
}

.reply_link {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-top-left-radius: 10px;
  margin-left: 60px;
}
.textarea_reduced {
  width: 97%;
  font-size: 10pt;
}
.hr_short{
  width: 20%;
}
.title {
  font-size: 16pt;
  font-style: italic;
  font-family: Garamond, Georgia;
}

.small {
  font-size: 100%;
}

.smaller {
  font-size: 90%;
}

.thumbnail_container {
  float:left;
  margin: 10px;
  width:105px;
  height:140px;
}

.white {
  color:white;
}
