/*
 * common.css.scss
 * The elements, ids, and classes in this file are the same for all themes.
 * This file is loaded first so any changes brought by later stylesheets will modify these values
 */
html {
  height: 100%;  
}
body {
  margin:0px;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-attachment: fixed;
  font-family: Verdana,Helvetica,Arial,Sans-serif;
  font-size: 10pt;
  p {
    margin-top: 4px;
    margin-bottom: 1px;
  }
  a {
    color: #666666;
    text-decoration: none;
    font-size: 10pt;
  }
  a:hover {
    color:#999999;
    background-color: #FFFDA7;
    border-radius: 4px;
  }
  li {
    font-size: 10pt;
  }
}

table {
  border-spacing:0px 2px;
}
th {
  padding-left: 6px;
  padding-right: 6px;
}
td {
  padding-left: 6px;
  padding-right: 6px;
  border-bottom: solid gray 1px;
  border-top: solid gray 1px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Garamond, Georgia;
  font-style: italic;
  text-align: left;
}

h4 {
  font-size: 125%;
  border-bottom: solid 1px black;
}
h5 {
  font-size: 125%;
  color: green;
  border-bottom: solid 1px green;
}
h6 {
  font-size: 125%;
  color: red;
  border-bottom: solid 1px red;
}


ul {
  margin-top:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-bottom:0px;
}

blockquote {
  margin-left: 1em;
  margin-right: 1em;
  blockquote {
    color:green;
    margin-left: 0px;
    blockquote {
      color: red;
      margin-left: 0px;
    }
  }
}

article {
  float: left;
  margin-left: 1%;
  padding-left: 10px;
  width: 98%;
  min-height: 60%;
}

aside {
  float:left;
  width:37%;
  margin-top: 17px;
  font-size: 10pt;
}

figure {
  margin-left:auto;
  margin-right: auto;
  width: 300px;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  font-family: Garamond, Georgia;
  font-style: italic;
  text-align: center;
}

footer {
  
}

code {
  display: block;
  background-color: #e0e0e0;
  border-radius: 3px;
  padding: 3px;
}

label {
  font-weight: bold;
}

#alert {
  position: fixed;
  font-size: 10pt;
  text-align:center;
  top: 0px;
  left: 35%;
  width: 250px;
  background-color:red;
  border-radius: 5px;
}

#notice {
  position: fixed;
  font-size: 10pt;
  text-align:center;
  top: 0px;
  left: 35%;
  width: 250px;
  background-color:green;
  border-radius: 5px;
}

#spinner {
  display: none;
  position: fixed;
  font-size: 10pt;
  text-align:center;
  top: 0px;
  left: 35%;
  width: 250px;
  background-color:yellow;
  border-radius: 5px;
}

#profile {
  position:absolute;
  right: 12px;
  top: 0px;
  width: 200px;
  padding-left: 12px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  color: #999999;
  background-color: white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 3px 3px 2px #888888;
}

#profile a {
  color: #999999;
  text-decoration: none;
}

#profile a:hover {
  color:black;
}

#profile:hover {
  cursor:pointer;
}

#logo {
  font-size: 12pt;
  font-weight:bolder;
  color:#999999;
  background-color: white;
  margin-left: 1%;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: absolute;
  top: 0px;
  box-shadow: 3px 3px 2px #888888;
}
#logo a {
  color: #999999;
  text-decoration: none;
  font-size: 14px;
}
#logo a:hover {
  color:black;
}
#logo p {
  font-weight: normal;
}
#logo:hover {
  cursor: pointer;
}

#title-container {
  float:left;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}

#start {
  padding:10px;
  border-radius: 10px;
  margin-bottom: 10px; 
  background-color: silver; 
  cursor: pointer;
}

#start:hover {
  background-color: gray;
}

#chartids {
  float:right;
  position: static;
  width:5%;
  border-radius: 3px;
  background-color:yellow;
}

#chartids p {
  text-align: center;
  width: 100%;
  font-weight: bold; 
}

#vertical_container {
  float: left;
  width: 40%;
  background-color: #e0e0e0;
  font-size: 9pt;
}

#outside_container {
  float: right;
  width: 59%;
}

#controls {
  float:left;
  width: 93%;
}

#gradingtools {
  float: left;
  position: static;
  width:94%;
}

.avatar {
  position: relative;
  float:left;
  background-color: black;
  background-clip: border-box;
  background-position: center;
  background-repeat: no-repeat;
  width:50px;
  height:50px;
  border: 2px solid #bbbbbb;
  border-radius: 8px;
  padding:2px;
  margin-right: 10px;
  margin-bottom: 6px;
  cursor:pointer;
}

/* These are classes for the charting start page */
.sortable {
  background-image:url('gradient1.png');
  background-repeat: repeat-y;
  background-position:left top;
  cursor: pointer;
}
.title_delete {
  float:right;
  min-width:1em;
  min-height: 1em;
  background-color: gray;
  color: white;
}
.title_delete:hover {
  background-color: black;
}
.insert_select span {
  padding: 2px;
  margin-right: 2px;
}
.paragraph_title {
  float:right;
  width: 55%;
  min-width: 55%;
  min-height: 1em;
  background-color: #e0e0e0;
  border: solid 1px gray;
  padding-left: 20px;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}

.segment_title {
  float:right;
  width: 64%;
  min-width: 64%;
  min-height: 1em;
  font-weight: bold;
  background-color: yellow;
  border: solid 1px gray;
  padding-left: 20px;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}

.section_title {
  float:right;
  width: 73%;
  min-width: 73%;
  min-height: 1em;
  font-weight: bold;
  background-color: cyan;
  border: solid 1px gray;
  padding-left: 20px;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}

.division_title {
  float:right;
  width: 82%;
  min-width: 82%;
  min-height: 1em;
  font-weight: bold;
  background-color: violet;
  border: solid 1px gray;
  padding-left: 20px;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}

.book_title {
  float:right;
  width: 94%;
  min-width: 94%;
  min-height: 1em;
  font-family: Garamond, Georgia;
  font-style: italic;
  font-size: 140%;
  font-weight: bolder;
  background-color: white;
  border: solid 1px gray;
  padding-left: 26px;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
}

.editable:focus {
  background-color: #f0f0f0;
}
/* End title classes */

/* Charting classes */
.sg {
  float: left;
  width: 100%;
  text-align: center;
  background-color: yellow;
  border: solid 1px gray;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.p_container {
  float: left;
  width: 100%;
  border: solid 1px gray;
}

.pt {
  float: left;
  width: 100%;
  background-color: white;
  border-bottom: solid 1px gray;
}

.pp {
  float: left;
  width: 100%;
  text-align: center;
  background-color: #e0e0e0;
}
/* End Charting classes */

/* css table elements */
.trow {
  float:left;
  width: 100%;
  margin-bottom: 2px;
  border: solid gray 1px;
  border-radius: 10px;
  .cell {
    float: left;
    padding-left: 6px;
    padding-right: 6px;
  }
}
.theader {
  float:left;
  width:100%;
  margin-bottom: 2px;
  .cell {
    float: left;
    font-weight: bold;
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
  }
}
/* end css table elements */

.toolbar {
  float:left;
  width: 96%;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid gray;
  box-shadow: 3px 3px 2px #888888;
  .cell {
    float: left;
    text-align: center;
    padding-right: 16px;
  }
}

.tab {
  float:left;
  margin-left: 14px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.fullscreen {
  display: none;
  background-color: white;
  position:absolute;
  padding: 1em;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.click:hover {
  cursor:pointer;
  color: red;
}

