/*
 * Defualt theme (nav_bar on left with wallpaper)
 */
article {
  float: left;
  background-color: rgba(255,255,255,.75);
  padding-left: 1%;
  padding-bottom: 20px;
  width: 98%;
  min-height: 60%;
  border: 1px solid gray;
  border-radius:10px;
  box-shadow: 8px 10px 6px #444444;
}

aside {
  float:left;
  width:34%;
  margin-left: .3%;
  border:1px solid #cdcdcd;
  border-radius:10px;
  box-shadow: 4px 4px 3px #444444;
  margin-top: 0px;
  background-color: rgba(255,255,255,.75);
  font-size: 10pt;
}

#content-large {
  float:right;
  width:64%;
  margin-right: 1%;
}


footer {
  
}

#logo {
  position: absolute;
	top: 0px;
	left: 0px;
	font-size: 12pt;
	font-weight:bolder;
	color:#999999;
	background-color: white;
	margin-left: 4px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 4px;
	border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
	cursor: pointer;
}
#logo a {
  color: #999999;
  text-decoration: none;
  font-size: 14px;
}
#logo a:hover {
  color:black;
}
#logo p {
	font-weight: normal;
}
#logo:hover {
	cursor: pointer;
}

#nav_heading {
  float:right;
  width:100%;
}

#nav_heading_content {
  float:left;
  width:65%;
  margin-top: 6px;
}

#nav_body_content {
  float:left;
  margin-left: 3%;
  height: 97%;
  width:96%;
}



#popup {
  display:none;
  position: fixed;
  margin-right: 67%;
  margin-left: .25%;
  width:33%;
  border-left:2px solid #787878;
  border-right:2px solid #787878;border-radius:10px;
  box-shadow: 8px 8px 5px #333333;
  padding:10px; 
  margin-top: 30px;
  background-color: rgba(255,255,255,.9);
  font-size: 10pt;
  height: 85%;
  overflow: auto; 
}

#popup_content {
  float: left;
  width:100%;
  position: relative;
}



#registration {
  float:right;
  height:200px;
  width:150px;
}

#reminder textarea{
  width: 92%;
  font-family: Garamond, Georgia;
  font-size: 10pt;
}

#scratchpad_heading {
  float:left;
  width:65%;
}

.even {
  background-color: #dfdfdf;
}
.odd {
  background-color: #bfbfbf;
}

.more {
  background-color: rgba(255,255,255,.4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: solid gray 1px;
  margin-top: -4px;
  padding:4px;
  text-align: center;
  width:100%;
  float:left;
}

.msg_container {
  float:left;
  width: 97%;
  border: 1px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
  padding-bottom: 14px;
  padding-left: 1%;
  margin-bottom: 10px;
  box-shadow: 3px 3px 2px #888888;
}

.msg_container a {
  font-size: 9pt;
}

.message_view_link {
  float:left;
  padding:8px;
}

.message_single {
  float:left;
  margin-left:20px;
}

.reminder {
  width:91%;
  float:left;
  font-style: italic;
  font-family: Garamond, Georgia;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-bottom: 10px;
  margin-left: 1%;
  box-shadow: 3px 3px 2px #888888;
  padding:3%;
}

.reply_link {
  float:left;
  width:93%;
  margin-left: 5%;
  padding-left: 2%;
  background-color: rgba(255,255,255,0.4);
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom-left-radius: 10px;
}
.reply_container {
  float:left;
  width: 80%;
  margin-left: 16%;
  padding: 2%;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  border-bottom-left-radius: 20px;
  margin-bottom: -10px;
}

.team {
  float:left;
  width: 100%;
  margin-left: 10px;
  border-left:1px solid gray;
}

.textarea_reduced {
  width: 97%;
  font-size: 10pt;
}

.thumbnail_container {
  float:left;
  margin: 10px;
  width:105px;
  height:140px;
}

.medium_container {
  float:left;
  margin: 10px;
}

.clear_float {
  width:310px;
  float:left;
  padding: 2%;
}

.seperator {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 6px double #aaaaaa;
  border-right: 6px double #aaaaaa;
}

.letter {
  border: none;
  box-shadow: none;
  width: 7in;
}
