
<article>
  
  <h3><%= "#{@task.assignment.name} - #{@task.name}" %></h3>
  
  <% if @document %>
    <%= smart_format(@document.content_type, @document.content) %>
  <% else %>
    <p>There is no content available for this task.</p>
  <% end %>
  
</article>

