
<article>
  <h3>
    <%=image_tag("staffnote.png", {size: "16x16", style: "float:left;", title: "Click on title to edit."}) if @staffnote %>
    <span>&nbsp;</span>
    <%=link_to "#{@task.assignment.name} - #{@task.name}", task_document_staffnote_path(@task,@document),{remote: true, title: "Click to create or update a staff note."} if @document %>
  </h3>
  
  <% if @document %>
    <%= smart_format(@document.content_type, @document.content) %>
    <h4>
      Footnotes: 
    </h4>
    <% if @document.endnote %> 
      <%= smart_format(@document.endnote.content_type, @document.endnote.content) if @document.endnote.content %>
    <% else %>
      <p>There are no footnotes. </p>
    <% end %>
  
  <% else %>
    <p>There is no content available for this task.</p>
  <% end %>
  
</article>

