
<% if current_user.student? %>
  <span><%=link_to "#{get_assignment_name(@assignment.id)} Home", school_assignment_path(@school,@assignment.id) %></span>
  <span><%=link_to "Stickie Notes", school_grade_path(@school,@grade)%></span>
<% end %>

<% if current_user.staff? %>
  <span><%= link_to "Grading Office", school_grading_office_path(@school.id) %></span>
  <span class="cell"><%= link_to "Grading Tools", user_assignment_load_tasks_path(@user.id,@assignment.id), {remote: true} %></span>
<% end %>

