<% if @prev_seg %>
  <%=link_to "Previous Chart", user_task_grade_vertical_path(@user,@task,@prev_seg),{remote: true, class: "button gray"}  %>
<% else %>
  <span class="button gray">No Previous</span>
<% end %>

<% if @next_seg %>
  <%=link_to "Next Chart", user_task_grade_vertical_path(@user,@task,@next_seg),{remote: true, class: "button gray"}%>
<% else %>
  <span class="button gray">No Next</span>
<% end %>