<% if @document %>
  <%= form_for @document, {remote: true} do |f| %>
    <%= f.submit :save %>
    <label class="cell">Stickie Note: </label>
    <span id="staffnote_slide" class="cell click"> show/hide</span><br />
    <div id="staffnote_editor">
      <%= f.text_area :staff_note, {size: "34x12", style:"background-color: yellow;"} %>
    </div>  
  <% end -%>
<% else%>  
  <p class="red">No Document to grade.</p>
<% end -%>