<p>
  <label>Staff Note</label> <span id="staffnote_slide" class="cell clickable"> show/hide</span><br />
</p>
<% if @staffnote %>
  <div class="staffnote">
    <%= smart_format(@staffnote.content_type, @staffnote.content)%>
  </div>
<% else%>
  <div class="staffnote">
    <p class="red">No Staff Note Exists.</p>
    <p>Click Title to add one.</p>
  </div>    
<% end -%>