<% content_for :breadcrumbs do %>
  <%=link_to "Journal", journal_path %>
  <%=link_to "Review Tools"%>
<% end %>

<div id="content-large">
  <article >
    <%= render "papers/reader" %>
  </article>
</div>

<%= nav_bar(@nav_body_content) %>
