  <div id="notice" ><%= notice if notice %></div>
  <div id="alert" ><%= alert if alert %></div>
  <div id="info"></div>
  <div id="spinner">(working) <img src='/assets/ajax1.gif' alt="spinner"></div>
