  <div id='header'>
    <div id='logo' onclick="ShowHide('logomenu')">
      {:> StudyWorx
      <p id="logomenu" style="display:none">
        <%= link_to "Home Page", root_path %>
      </p>
    </div>
  </div>